*.o
*.d
*.bak
fon/test-int-pair
fon/test-object
src/server
aco/test-aco-table
aco/test-ant
aco/test-antk
aco/aco
test-ipc/main
test-sendrecv/receiver
test-sendrecv/sender
tags
emulation/*
aco/parameters.h
